.table {
  width: 900px;
  height: 200px;

  position: relative;
  left: 15em;
  justify-content: flex-end;
}
.table_container {
  position: absolute;
}
.table_contenido {
  position: relative;
  top: 4em;
}
.imagenCart {
  width: 200px;
  height: 200px;
  margin-bottom: 2em;
}
